body{
	background-color: #b8b1ff;
}
.game_box{
	margin: 50px auto;
	background-color: white;
	position: relative;
	background-color: #c5eff7;
	opacity: 0.85;
	overflow: hidden;
	background-image: url(img/bg1.png);
	background-size: cover;
}
.lilfish{
	position: absolute;
	height: 20px;
	width: 69px;
	background-color: pink;
}
.killfish{
	position: absolute;
	height: 70px;
	width: 120px;
	background-image: url('img/1.gif');
	background-size: contain;
	background-repeat: no-repeat;
	/*animation: bounce 2s infinite;*/

}
.killfish:hover {
	/*box-shadow: 5px 5px 25px 5px rgba(230,40,40, .7);*/
	cursor: pointer;
}
.killfish:active {/*
	transform: scale(1.5);
	box-shadow: 15px 15px 25px 15px rgba(230,40,40, 1);*/
}

.fatfish{
	position: absolute;
	height: 60px;
	width: 60px;
	background-color: red;
}

@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

.dead-fish{
	display: none;
}
.turned-fish{
	/*background-color: red;*/
	background-image: url('img/11-2.gif');
	background-size: contain;
	background-repeat: no-repeat;
}
.score-box{
	padding: 10px 0;
	width: 100%;
	background-color: #ccc;
}
.login_box{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: #fafafa;
}
.login_box input[type='text']{
	width: 276px;
	font-style: italic;
	height: 20px;
	border-radius: 17px;
	border: 1px solid #013243;
	padding: 6px 12px;
}
.login_box input[type="button"], #restart{
	width: 300px;
	background-color: #013243;
	border: none;
	border-radius: 17px;
	padding: 10px 0;
	color: #e4f1fe;
	font-weight: bold;
	font-size: 14pt;
	margin-top: 14px;
	cursor: pointer;
}
#blur_screen{
		height: 100%;
	width: 100%;
	position: absolute;
z-index: 1000;
background-color: #c5eff7;
filter: blur(5px);
opacity: 0.85;
}

#finish_box{
background-color: #d6ecf5;
width: 400px;
height: 99%;
border: 2px dotted #013243;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
margin:0 auto;
}
h1{
	position: absolute;
	z-index: 5000;
	left: 45%;
	top: 45%;
}
#restart{
	text-decoration: none;
	text-align: center;
}